.navbar {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 90vw;
  margin: 0;
  height: 3em;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.navbar li a {
  text-decoration: none;
  margin: 0 1em;
  color: white;
  transition: 0.5s;
}

.navbar li a:hover {
  text-decoration: none;
  background: transparent;
  color: black;
  transition: 0.3s;
}
.cartIcon {
  font-size: 1.5rem;
}
.cartIcon:hover {
  color: #E44650;
  transition: 0.3s;
}
#badge{
  color: black;
  font-size: 12px;
}
.viewCart{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 3.7rem;
  background: white;
  height: 2rem;
  border-radius: 4px;
}
@media only screen and (max-width: 768px) {
  .cartIcon {
    font-size: 1.2rem;
  }
  #badge{
    color: black;
    font-size: 10px;
  }
  .viewCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 2.95rem;
    background: white;
    height: 1.7rem;
    border-radius: 2px;
    margin-right: 16px;
  }
}